*{
    box-sizing: border-box;
    margin: 0;
}
.main-menu{
    position: relative;
    width: 30vw;
    height: 100vh;
}
.navbar-menu{
    width: 30vw;
    position: fixed !important;
    background-color: rgb(58,62,153) !important;
}
.main-search{
    color: rgba(255, 255, 255, 0.5);
}
.navbar-menu{
    color: rgba(255, 255, 255, 0.5);
}
.chat-line{
position: absolute;
width: 100%;
height: 100%;
background-color: rgb(58,62,153);
margin-top: 57px;
}
.story-line{
    width: 100%;
    height: 80px;
    /* background-color: lightcoral; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap
}
.story-btn{
    height:65px;
    width: 65px;
}